body {
  background: #0A0A0F;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #F5A623;
}

#searchInput {
  padding: 10px;
  width: 60%;
  margin: 20px;
  border-radius: 5px;
  border: none;
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie {
  background: #111;
  padding: 10px;
  border-radius: 10px;
}

.movie img {
  width: 100%;
  border-radius: 10px;
}